# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-communication-email
azure-storage-blob
#cdsapi
#cfgrib
#dm-tree
#eccodes
#ecmwf-api-client
#h5py==2.10.0
#ibicus
#icenet==0.2.4
#imageio
#imageio-ffmpeg
#matplotlib
#motuclient
#netcdf4
#plotly
#pip
#pydap
#rioxarray
#scitools-iris
#seaborn
#setuptools
#wheel
#xarray[io]
# Stop pip going off on a search for appropriate versions
# tensorflow==2.9.1
urllib3<=2.0.0
