# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-communication-email
# We need to solve icenet#48 for easier docker builds
# icenet
git+https://github.com/icenet-ai/icenet@0.2.4_dev
# Stop pip going off on a search for appropriate versions
tensorflow==2.9.1
urllib3<=2.0.0
