# Azure Functions artifacts
*.Cache
*.cscfg
*.suo
*.user
.python_packages/
.secrets
.vs
App_Data
Publish
TestResults
appsettings.json
bin
csx
data
edge
local.settings.json
obj
packages
project.lock.json
secrets
tools/NuGet.exe